<a href="https://colab.research.google.com/github/angiecombs11-ops/PurdueHW/blob/main/9_01practice12_13_25.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [9]:
import pandas as pd
import numpy as np
from scipy.stats.mstats import winsorize

# Load the data
df = pd.read_csv('HousePrices.csv')

# Inspecting the first few rows of the DataFrame
print(df.head())

# Displaying the last few rows of the Dataframe
print(df.tail())

# Providing information about the DataFrame, including data types and non-null counts
print(df.info())

# displaying descriptive statistics of the DataFrame, such and mean, std, min,max, and so on.
print(df.describe())

# Displaying datatypes of the columns
df.dtypes

# Checking for missing columns
missing_values = df.isnull().sum()
print("Missing Values per Column")
print(missing_values)

# Removing duplicate records
df_no_duplicates = df.drop_duplicates()
# Cleaning data by standardizing formats
df['date'] = pd.to_datetime(df['date'])

# Displaying the dataframe after cleaning
print(df)

# Creating a new feature and normalizing numeric values
if 'yr_built' in df.columns:
    # Use the natural logarithm to create a new feature 'Year_Built_Log'
    df['Year_Built_Log'] = df['yr_built'].apply(lambda x: np.log(x))

    # Normalize 'yr_built' column and create a new feature 'Year_Built_Normalized'
    min_yr = df['yr_built'].min()
    max_yr = df['yr_built'].max()
    df['Year_Built_Normalized'] = (df['yr_built'] - min_yr) / (max_yr - min_yr)

    # Displaying the DataFrame with the new features
    print("DataFrame with new features:")
    print(df)
else:
    print("The 'yr_built' column does not exist in the DataFrame.")

# Handling outliers by winsorizing (before binning, as it requires numerical data)
if 'yr_built' in df.columns:
    # Winsoring the 'yr_built' column with limits [0.05, 0.05]
    # Ensure winsorize is applied to the numerical column before it's converted to categorical
    df['Winsorized_yr_built'] = winsorize(df['yr_built'], limits=[.05, .05])

    # Displaying the DataFrame with the winsorized column
    print("DataFrame with Winsorized yr_built column:")
    print(df)
else:
    print("The 'yr_built' column does not exist in the DataFrame.")

# Data Binning: Creating bins for the 'yr_built' column
if 'yr_built' in df.columns:
  # Define bin edges
  bin_edges = [1910, 1920, 1930, 1940, 1950, 1960, 1970, 1980, 1990, 2000, 2010]

  # Define bin labels (one less than bin_edges)
  bin_labels = ['1910s', '1920s', '1930s', '1940s', '1950s', '1960s', '1970s', '1980s', '1990s', '2000s']

  # Create a new categorical column 'yr_built_category' based on binning
  # Assign to a new column name to preserve the original 'yr_built' for other operations if needed
  df['yr_built_category'] = pd.cut(df['yr_built'], bins=bin_edges, labels=bin_labels, right=False)

  # Displaying the DataFrame with the new 'yr_built_category' column
  print("DataFrame with yr_built category column:")
  print(df)
else:
  print("The 'yr_built' column does not exist in the DataFrame.")

                  date      price  bedrooms  bathrooms  sqft_living  sqft_lot  \
0  2014-05-02 00:00:00   313000.0       3.0       1.50         1340      7912
1  2014-05-02 00:00:00  2384000.0       5.0       2.50         3650      9050
2  2014-05-02 00:00:00   342000.0       3.0       2.00         1930     11947
3  2014-05-02 00:00:00   420000.0       3.0       2.25         2000      8030
4  2014-05-02 00:00:00   550000.0       4.0       2.50         1940     10500

   floors  waterfront  view  condition  sqft_above  sqft_basement  yr_built  \
0     1.5           0     0          3        1340              0      1955
1     2.0           0     4          5        3370            280      1921
2     1.0           0     0          4        1930              0      1966
3     1.0           0     0          4        1000           1000      1963
4     1.0           0     0          4        1140            800      1976

   yr_renovated                    street       city  statezip country
0          2005      18810 Densmore Ave N  Shoreline  WA 98133     USA
1             0           709 W Blaine St    Seattle  WA 98119     USA
2             0  26206-26214 143rd Ave SE       Kent  WA 98042     USA
3             0           857 170th Pl NE   Bellevue  WA 98008     USA
4          1992         9105 170th Ave NE    Redmond  WA 98052     USA
                     date          price  bedrooms  bathrooms  sqft_living  \
4595  2014-07-09 00:00:00  308166.666667       3.0       1.75         1510
4596  2014-07-09 00:00:00  534333.333333       3.0       2.50         1460
4597  2014-07-09 00:00:00  416904.166667       3.0       2.50         3010
4598  2014-07-10 00:00:00  203400.000000       4.0       2.00         2090
4599  2014-07-10 00:00:00  220600.000000       3.0       2.50         1490

      sqft_lot  floors  waterfront  view  condition  sqft_above  \
4595      6360     1.0           0     0          4        1510
4596      7573     2.0           0     0          3        1460
4597      7014     2.0           0     0          3        3010
4598      6630     1.0           0     0          3        1070
4599      8102     2.0           0     0          4        1490

      sqft_basement  yr_built  yr_renovated             street       city  \
4595              0      1954          1979     501 N 143rd St    Seattle
4596              0      1983          2009   14855 SE 10th Pl   Bellevue
4597              0      2009             0   759 Ilwaco Pl NE     Renton
4598           1020      1974             0  5148 S Creston St    Seattle
4599              0      1990             0  18717 SE 258th St  Covington

      statezip country
4595  WA 98133     USA
4596  WA 98007     USA
4597  WA 98059     USA
4598  WA 98178     USA
4599  WA 98042     USA
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4600 entries, 0 to 4599
Data columns (total 18 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   date           4600 non-null   object
 1   price          4600 non-null   float64
 2   bedrooms       4600 non-null   float64
 3   bathrooms      4600 non-null   float64
 4   sqft_living    4600 non-null   int64
 5   sqft_lot       4600 non-null   int64
 6   floors         4600 non-null   float64
 7   waterfront     4600 non-null   int64
 8   view           4600 non-null   int64
 9   condition      4600 non-null   int64
 10  sqft_above     4600 non-null   int64
 11  sqft_basement  4600 non-null   int64
 12  yr_built       4600 non-null   int64
 13  yr_renovated   4600 non-null   int64
 14  street         4600 non-null   object
 15  city           4600 non-null   object
 16  statezip       4600 non-null   object
 17  country        4600 non-null   object
dtypes: float64(4), int64(9), object(5)
memory usage: 647.0+ KB
None
              price     bedrooms    bathrooms   sqft_living      sqft_lot  \
count  4.600000e+03  4600.000000  4600.000000   4600.000000  4.600000e+03
mean   5.519630e+05     3.400870     2.160815   2139.346957  1.485252e+04
std    5.638347e+05     0.908848     0.783781    963.206916  3.588444e+04
min    0.000000e+00     0.000000     0.000000    370.000000  6.380000e+02
25%    3.228750e+05     3.000000     1.750000   1460.000000  5.000750e+03
50%    4.609435e+05     3.000000     2.250000   1980.000000  7.683000e+03
75%    6.549625e+05     4.000000     2.500000   2620.000000  1.100125e+04
max    2.659000e+07     9.000000     8.000000  13540.000000  1.074218e+06

            floors   waterfront         view    condition   sqft_above  \
count  4600.000000  4600.000000  4600.000000  4600.000000  4600.000000
mean      1.512065     0.007174     0.240652     3.451739  1827.265435
std       0.538288     0.084404     0.778405     0.677230   862.168977
min       1.000000     0.000000     0.000000     1.000000   370.000000
25%       1.000000     0.000000     0.000000     3.000000  1190.000000
50%       1.500000     0.000000     0.000000     3.000000  1590.000000
75%       2.000000     0.000000     0.000000     4.000000  2300.000000
max       3.500000     1.000000     4.000000     5.000000  9410.000000

       sqft_basement     yr_built  yr_renovated
count    4600.000000  4600.000000   4600.000000
mean      312.081522  1970.786304    808.608261
std       464.137228    29.731848    979.414536
min         0.000000  1900.000000      0.000000
25%         0.000000  1951.000000      0.000000
50%         0.000000  1976.000000      0.000000
75%       610.000000  1997.000000   1999.000000
max      4820.000000  2014.000000   2014.000000
Missing Values per Column
date             0
price            0
bedrooms         0
bathrooms        0
sqft_living      0
sqft_lot         0
floors           0
waterfront       0
view             0
condition        0
sqft_above       0
sqft_basement    0
yr_built         0
yr_renovated     0
street           0
city             0
statezip         0
country          0
dtype: int64
           date         price  bedrooms  bathrooms  sqft_living  sqft_lot  \
0    2014-05-02  3.130000e+05       3.0       1.50         1340      7912
1    2014-05-02  2.384000e+06       5.0       2.50         3650      9050
2    2014-05-02  3.420000e+05       3.0       2.00         1930     11947
3    2014-05-02  4.200000e+05       3.0       2.25         2000      8030
4    2014-05-02  5.500000e+05       4.0       2.50         1940     10500
...         ...           ...       ...        ...          ...       ...
4595 2014-07-09  3.081667e+05       3.0       1.75         1510      6360
4596 2014-07-09  5.343333e+05       3.0       2.50         1460      7573
4597 2014-07-09  4.169042e+05       3.0       2.50         3010      7014
4598 2014-07-10  2.034000e+05       4.0       2.00         2090      6630
4599 2014-07-10  2.206000e+05       3.0       2.50         1490      8102

      floors  waterfront  view  condition  sqft_above  sqft_basement  \
0        1.5           0     0          3        1340              0
1        2.0           0     4          5        3370            280
2        1.0           0     0          4        1930              0
3        1.0           0     0          4        1000           1000
4        1.0           0     0          4        1140            800
...      ...         ...   ...        ...         ...            ...
4595     1.0           0     0          4        1510              0
4596     2.0           0     0          3        1460              0
4597     2.0           0     0          3        3010              0
4598     1.0           0     0          3        1070           1020
4599     2.0           0     0          4        1490              0

      yr_built  yr_renovated                    street       city  statezip  \
0         1955          2005      18810 Densmore Ave N  Shoreline  WA 98133
1         1921             0           709 W Blaine St    Seattle  WA 98119
2         1966             0  26206-26214 143rd Ave SE       Kent  WA 98042
3         1963             0           857 170th Pl NE   Bellevue  WA 98008
4         1976          1992         9105 170th Ave NE    Redmond  WA 98052
...        ...           ...                       ...        ...       ...
4595      1954          1979            501 N 143rd St    Seattle  WA 98133
4596      1983          2009          14855 SE 10th Pl   Bellevue  WA 98007
4597      2009             0          759 Ilwaco Pl NE     Renton  WA 98059
4598      1974             0         5148 S Creston St    Seattle  WA 98178
4599      1990             0         18717 SE 258th St  Covington  WA 98042

     country
0        USA
1        USA
2        USA
3        USA
4        USA
...      ...
4595     USA
4596     USA
4597     USA
4598     USA
4599     USA

[4600 rows x 18 columns]
DataFrame with new features:
           date         price  bedrooms  bathrooms  sqft_living  sqft_lot  \
0    2014-05-02  3.130000e+05       3.0       1.50         1340      7912
1    2014-05-02  2.384000e+06       5.0       2.50         3650      9050
2    2014-05-02  3.420000e+05       3.0       2.00         1930     11947
3    2014-05-02  4.200000e+05       3.0       2.25         2000      8030
4    2014-05-02  5.500000e+05       4.0       2.50         1940     10500
...         ...           ...       ...        ...          ...       ...
4595 2014-07-09  3.081667e+05       3.0       1.75         1510      6360
4596 2014-07-09  5.343333e+05       3.0       2.50         1460      7573
4597 2014-07-09  4.169042e+05       3.0       2.50         3010      7014
4598 2014-07-10  2.034000e+05       4.0       2.00         2090      6630
4599 2014-07-10  2.206000e+05       3.0       2.50         1490      8102

      floors  waterfront  view  condition  sqft_above  sqft_basement  \
0        1.5           0     0          3        1340              0
1        2.0           0     4          5        3370            280
2        1.0           0     0          4        1930              0
3        1.0           0     0          4        1000           1000
4        1.0           0     0          4        1140            800
...      ...         ...   ...        ...         ...            ...
4595     1.0           0     0          4        1510              0
4596     2.0           0     0          3        1460              0
4597     2.0           0     0          3        3010              0
4598     1.0           0     0          3        1070           1020
4599     2.0           0     0          4        1490              0

      yr_built  yr_renovated                    street       city  statezip  \
0         1955          2005      18810 Densmore Ave N  Shoreline  WA 98133
1         1921             0           709 W Blaine St    Seattle  WA 98119
2         1966             0  26206-26214 143rd Ave SE       Kent  WA 98042
3         1963             0           857 170th Pl NE   Bellevue  WA 98008
4         1976          1992         9105 170th Ave NE    Redmond  WA 98052
...        ...           ...                       ...        ...       ...
4595      1954          1979            501 N 143rd St    Seattle  WA 98133
4596      1983          2009          14855 SE 10th Pl   Bellevue  WA 98007
4597      2009             0          759 Ilwaco Pl NE     Renton  WA 98059
4598      1974             0         5148 S Creston St    Seattle  WA 98178
4599      1990             0         18717 SE 258th St  Covington  WA 98042

     country  Year_Built_Log  Year_Built_Normalized
0        USA        7.578145               0.482456
1        USA        7.560601               0.184211
2        USA        7.583756               0.578947
3        USA        7.582229               0.552632
4        USA        7.588830               0.666667
...      ...             ...                    ...
4595     USA        7.577634               0.473684
4596     USA        7.592366               0.728070
4597     USA        7.605392               0.956140
4598     USA        7.587817               0.649123
4599     USA        7.595890               0.789474

[4600 rows x 20 columns]
DataFrame with Winsorized yr_built column:
           date         price  bedrooms  bathrooms  sqft_living  sqft_lot  \
0    2014-05-02  3.130000e+05       3.0       1.50         1340      7912
1    2014-05-02  2.384000e+06       5.0       2.50         3650      9050
2    2014-05-02  3.420000e+05       3.0       2.00         1930     11947
3    2014-05-02  4.200000e+05       3.0       2.25         2000      8030
4    2014-05-02  5.500000e+05       4.0       2.50         1940     10500
...         ...           ...       ...        ...          ...       ...
4595 2014-07-09  3.081667e+05       3.0       1.75         1510      6360
4596 2014-07-09  5.343333e+05       3.0       2.50         1460      7573
4597 2014-07-09  4.169042e+05       3.0       2.50         3010      7014
4598 2014-07-10  2.034000e+05       4.0       2.00         2090      6630
4599 2014-07-10  2.206000e+05       3.0       2.50         1490      8102

      floors  waterfront  view  condition  ...  sqft_basement  yr_built  \
0        1.5           0     0          3  ...              0      1955
1        2.0           0     4          5  ...            280      1921
2        1.0           0     0          4  ...              0      1966
3        1.0           0     0          4  ...           1000      1963
4        1.0           0     0          4  ...            800      1976
...      ...         ...   ...        ...  ...            ...       ...
4595     1.0           0     0          4  ...              0      1954
4596     2.0           0     0          3  ...              0      1983
4597     2.0           0     0          3  ...              0      2009
4598     1.0           0     0          3  ...           1020      1974
4599     2.0           0     0          4  ...              0      1990

      yr_renovated                    street       city  statezip country  \
0             2005      18810 Densmore Ave N  Shoreline  WA 98133     USA
1                0           709 W Blaine St    Seattle  WA 98119     USA
2                0  26206-26214 143rd Ave SE       Kent  WA 98042     USA
3                0           857 170th Pl NE   Bellevue  WA 98008     USA
4             1992         9105 170th Ave NE    Redmond  WA 98052     USA
...            ...                       ...        ...       ...     ...
4595          1979            501 N 143rd St    Seattle  WA 98133     USA
4596          2009          14855 SE 10th Pl   Bellevue  WA 98007     USA
4597             0          759 Ilwaco Pl NE     Renton  WA 98059     USA
4598             0         5148 S Creston St    Seattle  WA 98178     USA
4599             0         18717 SE 258th St  Covington  WA 98042     USA

     Year_Built_Log  Year_Built_Normalized  Winsorized_yr_built
0          7.578145               0.482456                 1955
1          7.560601               0.184211                 1921
2          7.583756               0.578947                 1966
3          7.582229               0.552632                 1963
4          7.588830               0.666667                 1976
...             ...                    ...                  ...
4595       7.577634               0.473684                 1954
4596       7.592366               0.728070                 1983
4597       7.605392               0.956140                 2009
4598       7.587817               0.649123                 1974
4599       7.595890               0.789474                 1990

[4600 rows x 21 columns]
DataFrame with yr_built category column:
           date         price  bedrooms  bathrooms  sqft_living  sqft_lot  \
0    2014-05-02  3.130000e+05       3.0       1.50         1340      7912
1    2014-05-02  2.384000e+06       5.0       2.50         3650      9050
2    2014-05-02  3.420000e+05       3.0       2.00         1930     11947
3    2014-05-02  4.200000e+05       3.0       2.25         2000      8030
4    2014-05-02  5.500000e+05       4.0       2.50         1940     10500
...         ...           ...       ...        ...          ...       ...
4595 2014-07-09  3.081667e+05       3.0       1.75         1510      6360
4596 2014-07-09  5.343333e+05       3.0       2.50         1460      7573
4597 2014-07-09  4.169042e+05       3.0       2.50         3010      7014
4598 2014-07-10  2.034000e+05       4.0       2.00         2090      6630
4599 2014-07-10  2.206000e+05       3.0       2.50         1490      8102

      floors  waterfront  view  condition  ...  yr_built  yr_renovated  \
0        1.5           0     0          3  ...      1955          2005
1        2.0           0     4          5  ...      1921             0
2        1.0           0     0          4  ...      1966             0
3        1.0           0     0          4  ...      1963             0
4        1.0           0     0          4  ...      1976          1992
...      ...         ...   ...        ...  ...       ...           ...
4595     1.0           0     0          4  ...      1954          1979
4596     2.0           0     0          3  ...      1983          2009
4597     2.0           0     0          3  ...      2009             0
4598     1.0           0     0          3  ...      1974             0
4599     2.0           0     0          4  ...      1990             0

                        street       city  statezip country Year_Built_Log  \
0         18810 Densmore Ave N  Shoreline  WA 98133     USA       7.578145
1              709 W Blaine St    Seattle  WA 98119     USA       7.560601
2     26206-26214 143rd Ave SE       Kent  WA 98042     USA       7.583756
3              857 170th Pl NE   Bellevue  WA 98008     USA       7.582229
4            9105 170th Ave NE    Redmond  WA 98052     USA       7.588830
...                        ...        ...       ...     ...            ...
4595            501 N 143rd St    Seattle  WA 98133     USA       7.577634
4596          14855 SE 10th Pl   Bellevue  WA 98007     USA       7.592366
4597          759 Ilwaco Pl NE     Renton  WA 98059     USA       7.605392
4598         5148 S Creston St    Seattle  WA 98178     USA       7.587817
4599         18717 SE 258th St  Covington  WA 98042     USA       7.595890

     Year_Built_Normalized  Winsorized_yr_built  yr_built_category
0                 0.482456                 1955              1950s
1                 0.184211                 1921              1920s
2                 0.578947                 1966              1960s
3                 0.552632                 1963              1960s
4                 0.666667                 1976              1970s
...                    ...                  ...                ...
4595              0.473684                 1954              1950s
4596              0.728070                 1983              1980s
4597              0.956140                 2009              2000s
4598              0.649123                 1974              1970s
4599              0.789474                 1990              1990s

[4600 rows x 22 columns]